.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header button {
  background-color: transparent;
  border: 0;
}

.header .headerImg {
  width: 5.5rem;
  height: 5.5rem;
  border: 0;
  border-radius: 50%;
}

.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

@media screen and (max-width: 720px) {
    .container section {
      flex: 1;

      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
